.editor-container {
  position: absolute;
  top: 9rem;
  left: 5rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.current-selection-container {
  padding: 0.5rem 0;
}
