.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: "Courier New", Courier, monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-nav {
  position: absolute;
  color: white;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding-top: 1rem;
}

a,
a:visited {
  color: white;
}

button {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid yellow;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  border-color: red;
}
