.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: "Courier New", Courier, monospace;
}

textarea {
  resize: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-nav {
  position: absolute;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.signage {
  display: flex;
  align-items: center;
}

.main-banner {
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 6rem;
  text-decoration: none;
}

a,
a:visited {
  color: white;
}

button {
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}
button:hover {
  background-color: rgb(245, 185, 185);
  color: black;
}
