.text-label {
  background-color: "black";
  color: white;
}
.modal-container {
  position: absolute;
}
.add-object {
  position: absolute;
  top: 20rem;
  left: 5rem;
  background-color: black;
  color: white;
}
.decal-switch-container {
  position: absolute;
  top: 5rem;
  left: 5rem;
  background-color: black;
  color: white;
}
.decal-switch-button.selected {
  background-color: yellow;
  color: black;
}
.current-selection-container {
  position: absolute;
  top: 7rem;
  left: 5rem;
  background-color: black;
  color: white;
}
