.text-label {
  background-color: "black";
  color: white;
}
.modal-container {
  position: absolute;
}
.add-object {
  position: absolute;
  top: 20rem;
  left: 5rem;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem 2rem;
}
.add-object:hover {
  background: rgba(1, 133, 78, 0.8);
  color: white;
}
.decal-switch-container {
  position: absolute;
  top: 5rem;
  left: 5rem;
  background-color: black;
  color: white;
}
.decal-switch-button.selected {
  background-color: yellow;
  color: black;
}
