.modal {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 2rem;
  border: 1rem double;
  border-radius: 10px;
  min-width: 15rem;
  min-height: 20rem;
  max-width: 90%;
  max-height: 90%;
}
