.cinematic-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  transition: all ease 1s;
  overflow: hidden;
  z-index: 3;
}
.curtain {
  background-color: black;
  position: fixed;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
}
.content-container {
  background-color: black;
  color: white;
  z-index: 1;
  padding: 2rem;
  margin-top: 10rem;
}
.video-display-container {
  display: flex;
  text-align: left;
}
.text-display-container {
  padding: 2rem;
  min-width: 40vw;
}
.creator-container {
  text-align: left;
  padding-top: 2rem;
}
.sound-display-container {
  display: flex;
  text-align: left;
}
.sound-display-container audio {
  margin-top: 2rem;
  margin-right: 2rem;
}
.object-display-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}
.close-button {
  position: fixed;
  top: 2rem;
  right: 5rem;
  font-size: 2rem;
  z-index: 5;
}
iframe {
  height: 360px;
  width: 480px;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
