body {
  background-color: black;
}
.ui-controls {
  position: absolute;
  color: white;
  text-align: left;
}
.room-info {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: white;
}
